{% load static %}
<html>
    <head>
        <title>HOME - JOHANESSTEVEN</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="True">
        <link rel="stylesheet" href="{%static 'app6/styles.css'%}">
        <link rel="stylesheet" type="text/css" href="{%static 'app6/css/bootstrap.min.css'%}">
        <style>
        .wrapper {
            text-align: center;
        }
        
        .button {
            position: absolute;
            top: 50%;
        }
        </style>
    </head>
    
    <body bgcolor="#f8defc">
    <backhome><a href="show.html"><button class="button2"><span>See Status </span></button></a></backhome>
    <br><br><br>
    <messagetitle>Hello, how are you?</messagetitle>
              <messagebody>Share what you're feeling with the world.</messagebody>

    <br><br><br><br><br><br><br><br><br><br><br>
            <form class="friend-form" method="POST">
                {% csrf_token %}
                <div class="form-group" style="text-align:center">
                    <label for="name">What is your name?</label>
                    {{ form.name }}
                </div>
                <div class="form-group" style="text-align:center">
                    <label for="FormControlTextarea1">How are you feeling?</label>
                    {{ form.status }}
                </div>
                <div class="wrapper">
                 <button type="submit" class="save btn btn-primary">Submit</button>
                 </div>
            </form>

                <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    </body> 
    
    